/* Largely taken from: https://codepen.io/Ma5a/pen/ZELrqoY?editors=1100 */

* {
    box-sizing: border-box;
}

h1 {
    width: 60%;
    padding: 8px 10px;
    margin: 3px 8px 16px 8px;
    background-color: #facade;
    border: 0px transparent;
    border-radius: 5px;
    color: black;
    font-size: 40px;
    word-break: break-all;
    hyphens: auto;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #262527;
    overflow:hidden;
    align-items: center;
    text-align: center;
}

input, textarea, button {
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    position: relative;
    width: 100%;
    color: #fae881;
    overflow:hidden;
}

.flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
form {
    position: relative;
    padding: 30px 20px;
    width: 60%;
    min-width: 320px;
    border-radius: 7px;
    background-color: rgba(158, 189, 199, 0.288);
    overflow: hidden;
}

.input {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 8px 10px;
    margin: 3px 8px 16px 8px;
    background-color: rgba(222, 239, 248, 0.877);
    border: 0px transparent;
    border-radius: 5px;
    color:rgb(97, 4, 184);
    font-size: 16px;
    word-break: break-all;
    hyphens: auto;
    z-index: 1;
}

label {
    margin: 0 8px;
    font-size: 14px;
    color: white;
}

.button_wrapper {
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 8px 14px;
    margin: 20px 8px 0 0;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    background-color: #b69269;
}

button:hover {
    color: rgb(60, 35, 153);
    background-color: white;
}

::placeholder {
    color: rgb(140, 145, 216);
}

p {
    width: 60%;
    padding: 8px 10px;
    margin: 3px 8px 16px 8px;
    background-color: #facade;
    border: 0px transparent;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    word-break: break-all;
    hyphens: auto;
}